In [3]:
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
df = pd.read_csv('D:\Datasets\Patient_noshow\KaggleV2-May-2016.csv', parse_dates = ['ScheduledDay','AppointmentDay'])

In [9]:
df.head()

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show
0,2.987250e+13,5642903,F,2016-04-29 18:38:08+00:00,2016-04-29 00:00:00+00:00,62,JARDIM DA PENHA,0,1,0,0,0,0,No
1,5.589978e+14,5642503,M,2016-04-29 16:08:27+00:00,2016-04-29 00:00:00+00:00,56,JARDIM DA PENHA,0,0,0,0,0,0,No
2,4.262962e+12,5642549,F,2016-04-29 16:19:04+00:00,2016-04-29 00:00:00+00:00,62,MATA DA PRAIA,0,0,0,0,0,0,No
3,8.679512e+11,5642828,F,2016-04-29 17:29:31+00:00,2016-04-29 00:00:00+00:00,8,PONTAL DE CAMBURI,0,0,0,0,0,0,No
4,8.841186e+12,5642494,F,2016-04-29 16:07:23+00:00,2016-04-29 00:00:00+00:00,56,JARDIM DA PENHA,0,1,1,0,0,0,No

In [14]:
df['ScheduledDay'][1]

Timestamp('2016-04-29 16:08:27+0000', tz='UTC')

In [19]:
df.drop(['PatientId','AppointmentID'],axis=1,inplace = True)

In [26]:
df.rename(columns = {'Hipertension':'Hypertension','Handcap':'Handicapped','No-show':'Presence','SMS_received':'SMSReceived'},inplace=True)

In [29]:
df['Presence'] = df['Presence'].apply(lambda x: 0 if x == 'No' else 1)

In [1]:
df['Presence'].value_counts()

NameError: name 'df' is not defined

In [37]:
df.isnull().sum()

Gender            0
ScheduledDay      0
AppointmentDay    0
Age               0
Neighbourhood     0
Scholarship       0
Hypertension      0
Diabetes          0
Alcoholism        0
Handicapped       0
SMSReceived       0
Presence          0
dtype: int64