<a href="https://colab.research.google.com/github/gurjinderbassi/Exploratory-Data-Analysis/blob/main/Untitled6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import files
uploaded = files.upload()

Saving KaggleV2-May-2016.csv to KaggleV2-May-2016.csv

In [2]:
import pandas as pd
import io

In [33]:
df = pd.read_csv(io.BytesIO(uploaded['KaggleV2-May-2016.csv']))

In [34]:
df.head()

      PatientId  AppointmentID Gender  ... Handcap SMS_received  No-show
0  2.987250e+13        5642903      F  ...       0            0       No
1  5.589980e+14        5642503      M  ...       0            0       No
2  4.262960e+12        5642549      F  ...       0            0       No
3  8.679510e+11        5642828      F  ...       0            0       No
4  8.841190e+12        5642494      F  ...       0            0       No

[5 rows x 14 columns]

In [35]:
df.columns

Index(['PatientId', 'AppointmentID', 'Gender', 'ScheduledDay',
       'AppointmentDay', 'Age', 'Neighbourhood', 'Scholarship', 'Hipertension',
       'Diabetes', 'Alcoholism', 'Handcap', 'SMS_received', 'No-show'],
      dtype='object')

In [36]:
df.shape

(110527, 14)

In [37]:
df.nunique(axis=0)

PatientId          61744
AppointmentID     110527
Gender                 2
ScheduledDay      103549
AppointmentDay        27
Age                  104
Neighbourhood         81
Scholarship            2
Hipertension           2
Diabetes               2
Alcoholism             2
Handcap                5
SMS_received           2
No-show                2
dtype: int64

In [38]:
df.describe()

          PatientId  AppointmentID  ...        Handcap   SMS_received
count  1.105270e+05   1.105270e+05  ...  110527.000000  110527.000000
mean   1.474963e+14   5.675305e+06  ...       0.022248       0.321026
std    2.560949e+14   7.129575e+04  ...       0.161543       0.466873
min    3.920000e+04   5.030230e+06  ...       0.000000       0.000000
25%    4.172615e+12   5.640286e+06  ...       0.000000       0.000000
50%    3.173180e+13   5.680573e+06  ...       0.000000       0.000000
75%    9.439170e+13   5.725524e+06  ...       0.000000       1.000000
max    9.999820e+14   5.790484e+06  ...       4.000000       1.000000

[8 rows x 9 columns]

In [39]:
df.describe().apply(lambda s: s.apply(lambda x: format(x,'f')))

                    PatientId   AppointmentID  ...        Handcap   SMS_received
count           110527.000000   110527.000000  ...  110527.000000  110527.000000
mean   147496266413473.562500  5675305.123427  ...       0.022248       0.321026
std    256094922191288.187500    71295.751540  ...       0.161543       0.466873
min              39200.000000  5030230.000000  ...       0.000000       0.000000
25%      4172615000000.000000  5640285.500000  ...       0.000000       0.000000
50%     31731800000000.000000  5680573.000000  ...       0.000000       0.000000
75%     94391700000000.000000  5725523.500000  ...       0.000000       1.000000
max    999982000000000.000000  5790484.000000  ...       4.000000       1.000000

[8 rows x 9 columns]

In [40]:
df.drop(columns = ['AppointmentID'],axis=0,inplace=True)

In [41]:
df.columns

Index(['PatientId', 'Gender', 'ScheduledDay', 'AppointmentDay', 'Age',
       'Neighbourhood', 'Scholarship', 'Hipertension', 'Diabetes',
       'Alcoholism', 'Handcap', 'SMS_received', 'No-show'],
      dtype='object')

In [43]:
df.rename(columns={'Hipertension':'Hypertension'},inplace=True)

In [44]:
df.columns

Index(['PatientId', 'Gender', 'ScheduledDay', 'AppointmentDay', 'Age',
       'Neighbourhood', 'Scholarship', 'Hypertension', 'Diabetes',
       'Alcoholism', 'Handcap', 'SMS_received', 'No-show'],
      dtype='object')

In [46]:
df[df['Age']<0]

          PatientId Gender          ScheduledDay  ... Handcap  SMS_received No-show
99832  4.659430e+14      F  2016-06-06T08:58:13Z  ...       0             0      No

[1 rows x 13 columns]

In [49]:
df['ScheduledDay'].dtypes

dtype('O')

In [79]:
df.AppointmentDay = pd.to_datetime(df.AppointmentDay)

In [80]:
df['AppointmentDay'] = df['AppointmentDay'].dt.day

In [87]:
df.ScheduledDay = pd.to_datetime(df.ScheduledDay)

In [95]:
df['ScheduledDay'].dtypes

dtype('int64')

In [94]:
df['ScheduledDay'] = df['ScheduledDay'].dt.day

In [89]:
df.ScheduledDay = pd.to_datetime(df.ScheduledDay)

In [101]:
df['Difference'] =    df['AppointmentDay'] - df['ScheduledDay']

In [102]:
df.head()

      PatientId Gender  ...         Waiting  Difference
0  2.987250e+13      F  ... 0 days 18:38:08          28
1  5.589980e+14      M  ... 0 days 16:08:27          28
2  4.262960e+12      F  ... 0 days 16:19:04          28
3  8.679510e+11      F  ... 0 days 17:29:31          28
4  8.841190e+12      F  ... 0 days 16:07:23          28

[5 rows x 16 columns]

In [103]:
df.drop(['WaitingDays','Waiting'],axis = 1,inplace = True)

In [104]:
df.describe()

          PatientId  ScheduledDay  ...   SMS_received     Difference
count  1.105270e+05      110527.0  ...  110527.000000  110527.000000
mean   1.474963e+14           1.0  ...       0.321026      11.499398
std    2.560949e+14           0.0  ...       0.466873       9.056482
min    3.920000e+04           1.0  ...       0.000000       0.000000
25%    4.172615e+12           1.0  ...       0.000000       4.000000
50%    3.173180e+13           1.0  ...       0.000000       9.000000
75%    9.439170e+13           1.0  ...       1.000000      18.000000
max    9.999820e+14           1.0  ...       1.000000      30.000000

[8 rows x 11 columns]

In [113]:
df[df['Age']>120].shape

(0, 14)

In [116]:
df.drop(df[df['Age']<0].index,inplace = True)

In [117]:
df.describe()

          PatientId  ScheduledDay  ...   SMS_received     Difference
count  1.105260e+05      110526.0  ...  110526.000000  110526.000000
mean   1.474934e+14           1.0  ...       0.321029      11.499457
std    2.560943e+14           0.0  ...       0.466874       9.056502
min    3.920000e+04           1.0  ...       0.000000       0.000000
25%    4.172538e+12           1.0  ...       0.000000       4.000000
50%    3.173180e+13           1.0  ...       0.000000       9.000000
75%    9.438960e+13           1.0  ...       1.000000      18.000000
max    9.999820e+14           1.0  ...       1.000000      30.000000

[8 rows x 11 columns]

In [119]:
df['Scholarship'].unique()

array([0, 1])